@import url("https://use.typekit.net/xbv3jvp.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
	text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	/* background-color: #f8f8f8; */
	cursor: cell;
	overflow-x: hidden;
}
.overall {
	width: 99%;
	overflow-x: hidden;
	margin: 0 auto;
	height: 100%;
}
.center {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	justify-content: center;
	vertical-align: center;
	align-items: center;
	text-align: center;
}
.container {
	font-family: aktiv-grotesk, "Helvetica Neue", "Arial", sans-serif;
		font-weight: 500;
		font-size: 17px;
		font-style: normal;
	  color: #000;
}
.landing {
	position: absolute;
	width: 90%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	overflow: visible;
}

/* Float Boxes & Navigation ONLY */
.centerfloat {
	float: left;
	top: 50%;
	height: 60%;
}
.middle {
	width: 3%;
}
.middle-playlist {
	float: left;
	top: 50%;
	height: 60%;
	width: 27%;
}
.leftside {
	width: 30%;
}
.rightside {
	width: 40%;
}
.nav {
	float: left;
	width: 33%;
	font-family: aktiv-grotesk-extended, "Helvetica Neue", "Arial", sans-serif;
		font-weight: 700;
		font-size: 40px;
		text-align: center;
}
#note {
	font-family: aktiv-grotesk;
	font-weight: 500;
	font-size: 25px;
	line-height: normal;
	text-transform: capitalize;
}
#thoughts {
	font-weight: 600;
	font-size: 20px;
}
#aboutbuttonmobile,
#projectbuttonmobile {
	display: none;
}
#aboutbuttonmobile,
#aboutbutton,
#portfolio {
	text-align: left;
}
#projectbuttonmobile,
#projectbutton,
#blog {
	text-align: right;
}

/* Links and Texts */
a:hover {
	cursor: help;
}
.nav a,
#contact a,
#about a {
	color: #808080;
	text-decoration: none;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}
#contact a:hover,
#about a:hover {
	color: #fff;
	text-shadow: 0 0 15px #000;
}
.nav a:hover {
	color: #fff;
	text-shadow: 0 0 30px #000;
}
button {
	color: #808080;
	font-family: aktiv-grotesk-extended, "Helvetica Neue", "Arial", sans-serif;
		font-weight: 700;
		font-size: 40px;
	background-color: rgba(248,248,248,0.0);
	border: none;
	outline: none;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .4s linear;
	padding: 0;
	margin: 0;
}
button:hover {
	color: #fff;
	text-shadow: 0 0 30px #000;
	cursor: help;
}
button:active {
	outline: none;
}

/* Side Blocks ONLY */
.front {
	z-index: 2;
}
.sideblocks {
	background-color: rgba(248,248,248,0.5);
	box-shadow: 0 0 30px 30px rgba(248,248,248,0.5);
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
	transition: opacity 0.5s linear;
}
#project {
	text-align: left;
	max-width: 800px;
	transition: opacity 0.5s linear;
	padding-right: 15px;
}
#about {
	font-family: aktiv-grotesk, "Helvetica Neue", "Helvetica", "Franklin Gothic", "Arial", sans-serif;
		font-weight: 500;
		font-size: 20px;
		text-align: right;
		letter-spacing: 1px;
		line-height: 25px;
	width: 100%;
	max-width: 700px;
	padding-right: 15px;
}
#about a,
#about button {
	font-family: aktiv-grotesk-extended, sans-serif;
		font-weight: bold;
		font-style: italic;
		font-size: 20px;
		line-height: 25px;
		text-transform: uppercase;
	text-decoration: none;
	background: none;
	color: #333333;
	padding: 0;
}
#about button:hover {
	color: #fff;
}
#contact {
	margin-top: 20px;
	text-align: right;
	font-size: 22px;
	line-height: 25px;
	transition: opacity 0.5s linear;
}
#contact a {
	font-style: normal;
	color: #000;
}
mark {
	background-color: #595959;
	color: #fff;
	padding-left: 2px;
	padding-right: 1px;
}

/* Center Block ONLY */
#spotify {
	width: 80%;
	margin: 0 0 0 auto;
}
#ct {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	position: absolute;
	font-family: odisseia, sans-serif;
		font-weight: 900;
		font-style: normal;
		font-size: 13em;
		letter-spacing: -10px;
	margin: 0;
	z-index: 1;
	padding: 20px;
	/* color: #f8f8f8;
	text-shadow: 0 0 130px #000; */
}

/* Responsive */
@media only screen and (min-width: 1500px) {
	#about {
		line-height: 30px;
	}
}

@media only screen and (max-width: 900px) {
	body {
		margin-bottom: 40px;
	}

	.centerfloat {
		height: auto;
	}
	.middle {
		width: 100%;
	}
	.middle-playlist {
		width: 100%;
		height: 300px;
	}
	.nav {
		width: 50%;
		margin-bottom: 10px;
	}
	#note,
	#thoughts {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	#note {
		font-size: 20px;
		margin: 10px 0 0 0;
		font-weight: 500;
	}
	#thoughts {
		margin: 0;
	}

	.sides,
	#aboutbutton,
	#projectbutton {
		width: 50%;
		height: auto;
		padding: 0;
	}
	#ct {
		width: 100%;
		position: static;
		margin-left: auto;
		margin-right: auto;
		transform: none;
		font-size: 4em;
		letter-spacing: normal;
		text-shadow: 0 0 50px #000;
	}
	#about,
	#project,
	#spotify {
		position: absolute;
		width: 90%;
		height: auto;
		left:0;
  	right:0;
	  margin-left: auto;
	  margin-right: auto;
		margin-bottom: 10%;
		display: none;
			text-align: left;
			line-height: 25px;
		overflow-y: visible;
		overflow-x: hidden;
	}

	#aboutbutton,
	#projectbutton {
		display: none;
	}
	#projectbuttonmobile,
	#aboutbuttonmobile {
		width: 50%;
		float: left;
		font-size: 30px;
		display: block;
	}
	#aboutbuttonmobile {
		text-align: right;
	}
	#projectbuttonmobile {
		text-align: left;
	}

	#portfolio { order: 1; }
	#blog { order: 2; }
	#note { order: 3; }
	#clock { order: 4; }
	#thoughts { order: 5; }
	#projectbuttonmobile { order: 6; }
	#aboutbuttonmobile { order: 7; }
	#left { order: 8; }
	#right { order: 9; }
	#mobile-playlist { order: 10; }
}

@media screen and (max-width: 531px) {
		body {
			max-width: 100%;
			overflow-y: auto;
		}
		.landing {
			margin-top: 0;
			overflow-x: hidden;
			height: 100%;
		}
		.landing::-webkit-scrollbar {
		  display: none;
		}

    .sides {
			display: flex;
			flex-flow: column;
			margin-top: -20px;
		}
		.middle {
			width: auto;
		}
		.nav {
			font-size: 30px;
			width: 50%;
			padding: 10px 0 10px 0;
		}
		#note {
			margin-bottom: 20px;
			font-size: 15px;
		}
		#thoughts {
			margin-top: 20px;
		}
		#contact {
			margin-bottom: 20px;
		}

		#projectbuttonmobile button,
		#aboutbuttonmobile button {
			font-size: 30px;
		}

		#note { order: 1; }
		#clock { order: 2; }
		#thoughts { order: 3; }
		#portfolio { order: 4; }
		#blog { order: 4; }
    #projectbuttonmobile { order: 5; }
		#aboutbuttonmobile { order: 6; }
		#left { order: 7; }
		#right { order: 8; }
}

/* Design Classes ONLY */
.color-changer{
	 -webkit-animation: color-change 7s infinite;
	 -moz-animation: color-change 7s infinite;
	 -o-animation: color-change 7s infinite;
	 -ms-animation: color-change 7s infinite;
	 animation: color-change 7s infinite;
}
@-webkit-keyframes color-change {
	0% { color: #f8f8f8; text-shadow: 0 0 130px #000; }
	50% { color: #000; text-shadow: 0 0 50px #000; }
	100% { color: #f8f8f8; text-shadow: 0 0 130px #000; }
}
@-moz-keyframes color-change {
	0% { color: #f8f8f8; text-shadow: 0 0 130px #000; }
	50% { color: #000; text-shadow: 0 0 50px #000; }
	100% { color: #f8f8f8; text-shadow: 0 0 130px #000; }
}
@-ms-keyframes color-change {
	0% { color: #f8f8f8; text-shadow: 0 0 130px #000; }
	50% { color: #000; text-shadow: 0 0 50px #000; }
	100% { color: #f8f8f8; text-shadow: 0 0 130px #000; }
}
@-o-keyframes color-change {
	0% { color: #f8f8f8; text-shadow: 0 0 130px #000; }
	50% { color: #000; text-shadow: 0 0 50px #000; }
	100% { color: #f8f8f8; text-shadow: 0 0 130px #000; }
}
@keyframes color-change {
	0% { color: #f8f8f8; text-shadow: 0 0 130px #000; }
	50% { color: #000; text-shadow: 0 0 50px #000; }
	100% { color: #f8f8f8; text-shadow: 0 0 130px #000; }
}
.bgcolor-changer {
	-webkit-animation: bgcolor-change 10s infinite;
  -moz-animation: bgcolor-change 10s infinite;
  -o-animation: bgcolor-change 10s infinite;
  -ms-animation: bgcolor-change 10s infinite;
  animation: bgcolor-change 10s infinite;
}
@-webkit-keyframes bgcolor-change {
	0% { background-color: : #f8f8f8; }
	50% { background-color: #000; }
	100% { background-color: #f8f8f8; }
}
@-moz-keyframes bgcolor-change {
	0% { background-color: : #f8f8f8; }
	50% { background-color: #000; }
	100% { background-color: #f8f8f8; }
}
@-ms-keyframes bgcolor-change {
	0% { background-color: : #f8f8f8; }
	50% { background-color: #000; }
	100% { background-color: #f8f8f8; }
}
@-o-keyframes bgcolor-change {
	0% { background-color: : #f8f8f8; }
	50% { background-color: #000; }
	100% { background-color: #f8f8f8; }
}
@keyframes bgcolor-change {
	0% { background-color: : #f8f8f8; }
	50% { background-color: #000; }
	100% { background-color: #f8f8f8; }
}
::selection {
  background: #ccf5ff;
}
::-moz-selection {
  background: #ccf5ff;
}
