@import url("https://use.typekit.net/xbv3jvp.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
	text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-color: #f8f8f8;
	cursor: cell;
}

.center {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	justify-content: center;
	vertical-align: center;
	align-items: center;
}

.container {
	font-family: aktiv-grotesk, "Helvetica Neue", "Arial", sans-serif;
	color: #000;
}

.landing {
	position: absolute;
	width: 90%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	overflow: visible;
	overflow-x: hidden;
}

/* Float Boxes */
.centerfloat {
	float: left;
	top: 40%;
	height: 60%;
}
.middle {
	width: 20%;
}
.leftside {
	width: 30%;
}
.rightside {
	width: 50%;
}
.nav {
	float: left;
	width: 33%;
	font-family: aktiv-grotesk-extended, "Helvetica Neue", "Arial", sans-serif;
		font-weight: 700;
		font-size: 40px;
}
#note {
	text-align: center;
	font-family: aktiv-grotesk;
	font-weight: 300;
}
#thoughts {
	font-weight: 300;
	/* text-transform: ; */
	font-weight: 600;
	font-size: 20px;
}
@media only screen and (min-width: 700px) {
	#aboutbuttonmobile,
	#aboutbutton,
	#portfolio {
		text-align: left;
	}
	#projectbuttonmobile,
	#projectbutton,
	#blog {
		text-align: right;
	}
}

/* Links and Texts */
.nav a,
#contact a,
#about a {
	color: #333333;
	text-decoration: none;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}
.nav a:hover,
#contact a:hover,
#about a:hover {
	color: #fff;
	text-shadow: 0 0 15px #000;
}
.nav a:hover {
	text-shadow: 0 0 30px #000;
}
a:hover {
	cursor: help;
}
button {
	color: #333333;
	font-family: aktiv-grotesk-extended, "Helvetica Neue", "Open Sans Bold", "Franklin Gothic", "Arial", sans-serif;
		font-weight: 700;
		font-size: 40px;
	background-color: rgba(248,248,248,0.0);
	border: none;
	outline: none;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .4s linear;
	padding: 0;
	margin: 0;
}
button:hover {
	color: #fff;
	text-shadow: 0 0 30px #000;
	cursor: help;
}
button:active {
	outline: none;
}
h1 {
	font-family: neue-haas-grotesk-display, "Helvetica-Neue", sans-serif;
	font-weight: 200;
	font-style: normal;
	font-weight: 200;
	font-size: 50px;
	letter-spacing: 6px;
}
h2 {
	font-family: neue-haas-grotesk-display, " Helvetica-Neue", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	letter-spacing: 3px;
}
h4 {
	font-weight: 600;
	font-size: 20px;
}
.cursor {
	width: 30px;
	height: 30px;
	background-color: #fff;
	box-shadow: 0 0 20px #000;
	border-radius: 50%;
	position: absolute;
	z-index: 0;
}

/* About Block ONLY */
#left {
	vertical-align: middle;
	z-index: 2;
}
#about {
	/*font-family: "jaf-lapture", serif;*/
	font-family: aktiv-grotesk, "Helvetica Neue", "Helvetica", "Franklin Gothic", "Arial", sans-serif;
		font-weight: 500;
		font-style: normal;
		text-align: right;
		letter-spacing: 1px;
		line-height: 20px;
	width: 80%;
		max-width: 700px;
	height: 100%;
	margin: 10px auto 20% auto;
	padding: 5px;
	background-color: rgba(248,248,248,0.7);
	box-shadow: 0 0 10px 10px rgba(248,248,248,0.7);
	overflow-x: hidden;
	overflow-y: auto;
}
.eighty {
	width: 80%;
	margin-right: 15px;
	margin-left: auto;
}
mark {
	background-color: #595959;
	color: #fff;
	padding-left: 2px;
	padding-right: 1px;
}
:root {
  --mainColor: #595959;
}
#contact {
	margin-top: 20px;
	text-align: right;
	font-size: 22px;
	line-height: 25px;
}
#about a {
	font-family: "Acumin-Pro", sans-serif;
		font-weight: 700;
		font-style: italic;
		font-size: 20px;
		line-height: 20px;
	text-decoration: none;
	background: none;
	color: #707070;
}
#about button {
	font-family: "Acumin-Pro", sans-serif;
		font-weight: 700;
		font-style: italic;
		font-size: 20px;
		line-height: 20px;
	text-decoration: none;
	background: none;
	color: #707070;
	padding: 0;
}
#about button:hover {
	color: #fff;
}
#contact a {
	font-style: normal;
	color: #000;
}
#aboutbuttonmobile {
	display: none;
}

/* Center Block ONLY */
#title {
	font-family: neue-haas-grotesk-display, "Helvetica-Neue", sans-serif;
	font-weight: 200;
	font-style: normal;
	font-weight: 200;
	font-size: 50px;
	letter-spacing: 20px;
	line-height: normal;
}
#ct {
	font-family: odisseia, sans-serif;
	font-weight: 900;
	font-style: normal;
	font-size: 10em;
	letter-spacing: -10px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	padding: 20px;
	/* color: #f8f8f8;
	text-shadow: 0 0 130px #000; */
}

/* Project Block ONLY */
#right {
	text-align: left;
	z-index: 2;
}
#project {
	height: 100%;
	width: 80%;
	background-color: rgba(248,248,248,0.7);
	box-shadow: 0 0 10px 10px rgba(248,248,248,0.7);
	padding: 5px;
	max-width: 700px;
	overflow-x: hidden;
	overflow-y: auto;
}
#projectbuttonmobile {
	display: none;
}

/* Responsive */
@media only screen and (min-width: 1500px) {
	#about {
		line-height: 30px;
	}
}
@media only screen and (max-width: 700px) {
	body {
		margin-bottom: 40px;
		cursor: auto;
		overflow-x: hidden;
	}
	.nav {
		font-size: 20px;
	}
	.landing {
		margin-top: 5%;
		margin-bottom: 50px;
	}
	.middle,
	.sides,
	#aboutbutton,
	#projectbutton {
		width: 100%;
		height: auto;
		padding: 0;
	}
	#ct {
		width: 90%;
		position: static;
		padding: 0;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		transform: none;
		font-size: 4em;
		letter-spacing: normal;
		text-shadow: 0 0 50px #000;
	}
	#about,
	#project {
		position: absolute;
		left:0;
  	right:0;
	  margin-left: auto;
	  margin-right: auto;
		margin-bottom: 10%;
		display: inline;
		width: 90%;
		text-align: justify;
		line-height: 25px;
		height: auto;
		overflow-y: visible;
		overflow-x: hidden;
	}
	#note,
	#thoughts {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	#note h4 {
		margin: 0;
		font-weight: 500;
		font-size: 18px;
	}
	#customcursor {
		display: none;
	}
}
@media screen and (max-width: 531px) {
		body {
			max-width: 100%;
			overflow: hidden;
		}
		.landing {
			margin-top: 5px;
			height: 600px;
		}
    .sides,
		.middle {
			display: flex;
			flex-flow: column;
		}
		.sides {
			margin-top: -20px;
		}
		.nav {
			width: 50%;
		}
		#contact {
			margin-bottom: 20px;
		}
		#project {
			margin-top: -20px;
		}
		#aboutbutton,
		#projectbutton {
			display: none;
		}
		#projectbuttonmobile,
		#aboutbuttonmobile {
			width: 50%;
			float: left;
			font-size: 20px;
			display: block;
		}
		#projectbuttonmobile button,
		#aboutbuttonmobile button {
			font-size: 20px;
		}
		#note { order: 1; }
		#clock { order: 2; }
		#thoughts { order: 3; }
		#portfolio { order: 4; }
		#blog { order: 4; }
		#aboutbuttonmobile { order: 5; }
    #projectbuttonmobile { order: 6; }
		#left { order: 7; }
		#right { order: 8; }
}

/* Color Changer ONLY */
.color-changer{
	 -webkit-animation: color-change 7s infinite;
	 -moz-animation: color-change 7s infinite;
	 -o-animation: color-change 7s infinite;
	 -ms-animation: color-change 7s infinite;
	 animation: color-change 7s infinite;
}
@-webkit-keyframes color-change {
	0% { color: #f8f8f8; text-shadow: 0 0 130px #000; }
	50% { color: #000; text-shadow: 0 0 50px #000; }
	100% { color: #f8f8f8; text-shadow: 0 0 130px #000; }
}
@-moz-keyframes color-change {
	0% { color: #f8f8f8; text-shadow: 0 0 130px #000; }
	50% { color: #000; text-shadow: 0 0 50px #000; }
	100% { color: #f8f8f8; text-shadow: 0 0 130px #000; }
}
@-ms-keyframes color-change {
	0% { color: #f8f8f8; text-shadow: 0 0 130px #000; }
	50% { color: #000; text-shadow: 0 0 50px #000; }
	100% { color: #f8f8f8; text-shadow: 0 0 130px #000; }
}
@-o-keyframes color-change {
	0% { color: #f8f8f8; text-shadow: 0 0 130px #000; }
	50% { color: #000; text-shadow: 0 0 50px #000; }
	100% { color: #f8f8f8; text-shadow: 0 0 130px #000; }
}
@keyframes color-change {
	0% { color: #f8f8f8; text-shadow: 0 0 130px #000; }
	50% { color: #000; text-shadow: 0 0 50px #000; }
	100% { color: #f8f8f8; text-shadow: 0 0 130px #000; }
}
::selection {
  background: #c2c2d6; /* WebKit/Blink Browsers */
}
/* light purple #ccb3ff */
/* light blue #ccf5ff */
/* rose #cc6699 */
::-moz-selection {
  background: #c2c2d6; /* Gecko Browsers */
}
