@import url("https://use.typekit.net/xbv3jvp.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
	font-family: aktiv-grotesk, "Helvetica Neue", "Open Sans Bold", "Franklin Gothic", "Arial", sans-serif;
		font-weight: 500;
		font-size: 17px;
  	line-height: 20px;
	background-color: #f8f8f8;
	/*margin-right: 100px;*/
	/*margin-left: 100px;*/
	font-style: normal;
  color: #000;
	/*cursor: url("../images/cc.png"), auto;*/
	cursor: none;
	height: 10vh;
}
.landing {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	vertical-align: center;
	align-items: center;
	box-sizing: border-box !important;
}

/* Float Boxes */
.center, .sides {
	float: left;
	width: 10%;
	top: 50%;
	text-align: center;
	height: 50%;
}
.sides {
	width: 45%;
}
#ct {
	font-family: odisseia, sans-serif;
	font-weight: 900;
	font-style: normal;
	font-size: 10em;
	letter-spacing: -10px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	padding: 20px;
	color: #fff;
	text-shadow: 0 0 70px #000;
}
#left {
	vertical-align: middle;
	z-index: 2;
}
.nav {
	float: left;
	width: 33%;
	text-align: center;
	font-size: 40px;
	line-height: normal;
}

/* Links and Texts */
a {
	color: #000;
	text-decoration: none;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}
a:hover {
	color: #fff;
	text-shadow: 0 0 15px #000;
	cursor: help;
}
button {
	font-family: aktiv-grotesk, "Helvetica Neue", "Open Sans Bold", "Franklin Gothic", "Arial", sans-serif;
		font-weight: 500;
		font-size: 40px;
	background-color: rgba(248,248,248,0.0);
	border: none;
	outline: none;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .4s linear;
}
button:hover {
	color: #fff;
	text-shadow: 0 0 15px #000;
	cursor: help;
}
button:active {
	outline: none;
}
h1 {
	font-family: neue-haas-grotesk-display, "Helvetica-Neue", sans-serif;
	font-weight: 200;
	font-style: normal;
	font-weight: 200;
	font-size: 50px;
	letter-spacing: 6px;
}
h2 {
	font-family: neue-haas-grotesk-display, " Helvetica-Neue", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	letter-spacing: 3px;
}
h4 {
	font-weight: 600;
	font-size: 20px;
}
.cursor {
	width: 30px;
	height: 30px;
	background-color: #fff;
	box-shadow: 0 0 20px #000;
	border-radius: 50%;
	position: absolute;
	z-index: 0;
}

/* About Block ONLY */
#about {
	/*font-family: "jaf-lapture", serif;*/
	font-family: aktiv-grotesk, "Helvetica Neue", "Helvetica", "Franklin Gothic", "Arial", sans-serif;
	font-weight: 500;
	font-style: normal;
	width: 80%;
	margin-left: 20%;
	margin-right: auto;
	text-align: right;
	height: auto;
	letter-spacing: 1px;
	line-height: 20px;
	background-color: rgba(248,248,248,0.7);
	box-shadow: 0 0 10px 10px rgba(248,248,248,0.7);
	padding: 5px;
	max-width: 700px;
}
mark {
	background-color: #595959;
	color: #fff;
	padding-left: 2px;
	padding-right: 1px;
}
:root {
  --mainColor: #595959;
}
#contact {
	text-align: right;
	font-size: 22px;
}
#about a {
	font-family: "Acumin-Pro", sans-serif;
	font-weight: 700;
	font-style: italic;
	font-size: 20px;
	text-decoration: none;
	background: none;
	color: #707070;
}
#about a:hover {
	color: #fff;
}
#about button {
	font-family: "Acumin-Pro", sans-serif;
	font-weight: 700;
	font-style: italic;
	font-size: 20px;
	text-decoration: none;
	background: none;
	color: #707070;
}
#about button:hover {
	color: #fff;
}
#contact a {
	font-style: normal;
	color: #000;
}

/* Center Blocks ONLY */
#title {
	font-family: neue-haas-grotesk-display, "Helvetica-Neue", sans-serif;
	font-weight: 200;
	font-style: normal;
	font-weight: 200;
	font-size: 50px;
	letter-spacing: 20px;
	line-height: normal;
}

/* Responsive */
@media only screen and (max-width: 700px) {
	body {
		margin-bottom: 40px;
	}
	.nav {
		font-size: 20px;
	}
	.landing {
		margin-top: 7%;
		margin-bottom: 50px;
	}
	.center, .sides, #aboutbutton, #projectbutton {
		width: 100%;
		height: auto;
		padding: 0;
	}
	#ct {
		width: 90%;
		position: static;
		padding: 0;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		transform: none;
		font-size: 4em;
		letter-spacing: normal;
	}
	#about {
		position: absolute;
		left:0;
  	right:0;
	  margin-left: auto;
	  margin-right: auto;
		margin-bottom: 10%;
		display: inline;
		width: 90%;
		text-align: justify;
	}
	#note {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	#note h4 {
		font-weight: 300;
		font-size: 15px;
	}
}
@media screen and (max-width: 531px) {
    .sides, .center {
			display: flex;
			flex-flow: column;
		}
		#projectbutton, #aboutbutton {
			width: 50%;
			float: left;
			font-size: 20px;
		}
		#aboutbutton button {
			font-size: 20px;
		}
		#thoughts { order: 1; }
		#portfolio { order: 2; }
		#blog { order: 3; }
		#clock { order: 4; }
    #note { order: 5; }
		#aboutbutton { order: 6; }
    #projectbutton { order: 7; }
		#left { order: 8; }
		#right { order: 9; }
}
