@import url("https://use.typekit.net/xbv3jvp.css");

body {
	font-family: "neue-haas-unica", san-serif;
		font-weight: 600;
		font-size: 14px;
  	line-height: 20px;
	background-color: #2e2e2e;
	margin-top: 200px;
	/*margin-right: 100px;*/
	margin-bottom: 200px;
	/*margin-left: 100px;*/
	font-style: normal;
	font-weight: 500;
  	color: #fff;}

.overall {
	position: absolute;
	width: 100% !important;
	top: 0;
	left: 0;
	display: flex;
	flex-wrap: wrap;
	vertical-align: center;
	align-items: center;
	box-sizing: border-box !important;}

/* Float Boxes */
#header {
	margin-top: 4%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 10px;
	width: 100%;}
#about {
  float: right ;
	width: 40% ;}
#blog {
  float: right;
  width: 60%;}

.containerabout {
	font-family: "jaf-lapture", serif;
	font-weight: 600;
	font-style: normal;
	width: 50%;
	margin-left: auto;
	margin-right: 5%;
	margin-top: 0;
	height: auto;
	background-color: rgba(0,0,0,0.0);}
.containerblog {
	width: 80%;
	margin-left: 0;
	margin-right: auto;
	margin-top: 0;
	height: auto;
	background-color: rgba(0,0,0,0.0);}

.threecolumns {
	float: right;
	width: 50%;
	font-family: "whitman-display", serif;
	font-weight: 500;
	font-style: italic;
	font-size: 1em;}
.threecolumns h2 {
	font-family: "rig-solid-bold-fill", sans-serif;
		font-weight: 700;
		font-style: normal;}

.blogpost {
	margin-top: 0;
	margin-left: 0;
	margin-right: auto;
	width: 90%;}
.blogpost quoteblock {
	font-family: "whitman-display", serif;
	font-weight: 500;
	font-style: italic;
	font-size: 1em;
	text-align: justify;
	quotes: "“""”""‘""’";}
.blogpost quoteblock:before {
    content: "\201C";
    font-size: 3.5em;
    position: relative;
    display: inline;
    top: 20px;
    left: -3px;
    color: #f47b3e;}

/* For Flexible Display*/
@media only screen and (max-width: 1200px) {
	#about {
		float: none ;
		width: 100% ;}
	#blog {
		float: none ;
		width: 100% ;}
	.overall {
		margin-bottom: 30px;}
	.containerabout {
		width: 60%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 3%;
		height: auto;
		background-color: rgba(0,0,0,0.0);}
	.containerblog {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		height: auto;
		background-color: rgba(0,0,0,0.0);}
}
@media only screen and (max-width: 700px) {
	#header {
		margin-top: 10%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-bottom: 10px;
		width: 100%;}
	.containerabout {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		height: auto;
		margin-top: 20px;
		background-color: rgba(0,0,0,0.0);
		}
	.containerblog {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		height: auto;
		margin-top: 0;
		background-color: rgba(0,0,0,0.0);
		}
}

.imagecenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* For About Block */
.text_column_top {
	width: 90%;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;}
.socialmedia {
	width: 90%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 30px;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 30px;
	padding-left: 0px;}
.highlight {
	background-color: #f47b3e;}

/* For Links */
:root {
  --mainColor: #f47b3e;}

a {
  background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 2px;
  color: #fff;
  text-decoration: none;
  transition: background-size .5s;}
.text_column_top a{
	font-family: "Acumin-Pro";
	font-weight: 700;
	font-style: italic;
	text-decoration: none;
	background: none;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
	color: #f47b3e;}
.text_column_top a:hover {
	color: #fff;
	text-shadow: 0 0 20px #fff;}

.socialmedia a{
	font-family: "Fira-mono";
	font-size: 0.8em;
	border: 0;
	text-decoration: none;}
.socialmedia a:hover {
  background-size: 4px 50px;}

a.glowlink {
    border: 0;
    text-decoration: none;}
.glowlink h2 {
    text-decoration: none;
    color: #f47b3e;
		font-family: "rig-solid-bold-fill", sans-serif;
			font-weight: 700;
			font-style: normal;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;}
.glowlink:hover h2 {
    color: #fff;
    text-shadow: 0 0 20px #fff;}

.responsive {
  /*min-width: 100%;*/
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /*margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  width: 100%;*/
}
