@import url("https://use.typekit.net/xbv3jvp.css");

body {
	font-family: "neue-haas-unica", Helvetica;
  	font-size: 14px;
  	line-height: 20px;
	background-color: #2e2e2e;
	margin-top: 200px;
	/*margin-right: 100px;*/
	margin-bottom: 200px;
	/*margin-left: 100px;*/
	font-style: normal;
	font-weight: 500;
  	color: #fff;
}

.overall {
	position: absolute;
	width: 100% !important;
	top: 0;
	left: 0;
	display: flex;
	flex-wrap: wrap;
	vertical-align: center;
	align-items: center;
	box-sizing: border-box !important;
}

#header {
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;
}

#about {
  float: right ;
	width: 40% ;
}

#blog {
  float: right;
  width: 60%;
}

.containerabout {
	width: 50%;
	margin-left: auto;
	margin-right: 5%;
	margin-top: 3%;
	height: auto;
	background-color: rgba(0,0,0,0.0);
}

.containerblog {
	width: 50%;
	margin-left: 0;
	margin-right: auto;
	margin-top: 3%;
	height: auto;
	background-color: rgba(0,0,0,0.0);
}

.blogpost {
	float: right;
	width: 40%;
}

@media only screen and (max-width: 1200px) {
	#about {
		float: none ;
		width: 100% ;
	}
	#blog {
		float: none ;
		width: 100% ;
	}
	.containerabout {
		width: 40%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 3%;
		height: auto;
		background-color: rgba(0,0,0,0.0);
		}
	.containerblog {
		width: 40%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 3%;
		height: auto;
		background-color: rgba(0,0,0,0.0);
		}
}

@media only screen and (max-width: 700px) {
	.containerabout {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		height: auto;
		background-color: rgba(0,0,0,0.0);
		}
	.containerblog {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		height: auto;
		background-color: rgba(0,0,0,0.0);
		}
}

.imagecenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* for about block */
.text_column_top {
	width: 90%;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.socialmedia {
	width: 90%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 30px;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 30px;
	padding-left: 0px;
}
.socialmedia a {
	font-family: "Fira-mono";
	font-size: 0.8em;
}

.highlight {
	background-color: #f47b3e;
}

/* for links*/
:root {
  --mainColor: #f47b3e;
}

a {
  background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 2px;
  color: #fff;
  text-decoration: none;
  transition: background-size .5s;
}

a:hover {
  background-size: 4px 50px;
}

.responsive {
  /*min-width: 100%;*/
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /*margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  width: 100%;*/
}
