@import url("https://use.typekit.net/xbv3jvp.css");

body {
	font-family: nimbus-sans, sans-serif;
  	font-size: 14px;
  	line-height: 20px;
	background-color: #2e2e2e;
	margin-top: 200px;
	/*margin-right: 100px;*/
	margin-bottom: 200px;
	/*margin-left: 100px;*/
	font-style: normal;
	font-weight: 500;
  	color: #fff;
}

.container {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	background-color: rgba(0,0,0,0.0);
}

@media only screen and (max-width: 400px) {
.container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	background-color: rgba(0,0,0,0.0);
	}
}

/* for about block */
.text_column_top {
	width: 90%;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.text_column_bot {
	width: 90%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 30px;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 30px;
	padding-left: 0px;
}
.highlight { 
	background-color: #f47b3e; 
}

/* for links*/
:root {
  --mainColor: #f47b3e;
}
a {
  background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 2px;
  color: #fff;
  text-decoration: none;
  transition: background-size .5s;
}
a:hover {
  background-size: 4px 50px;
}

.responsive {
  /*min-width: 100%;*/
  min-height: 100%; 
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /*margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  width: 100%;*/
}

