@import url("https://use.typekit.net/xbv3jvp.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
	font-family: aktiv-grotesk, "Helvetica Neue", "Open Sans Bold", "Franklin Gothic", "Arial", sans-serif;
		font-weight: 500;
		font-size: 17px;
  	line-height: 20px;
	background-color: #f8f8f8;
	/*margin-right: 100px;*/
	/*margin-left: 100px;*/
	font-style: normal;
  color: #000;
}
.center {
	margin: 10% 0 10% 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.project {
	text-align: center;
	text-transform: capitalize;
	line-height: normal;
	width: 60%;
	margin: auto;
}
.title {
	text-align: center;
	text-transform: uppercase;
	padding-top: 10px;
}
.description {
	margin: 10px auto 0 auto;
	font-family: orpheuspro, aktiv-grotesk, serif;
	font-weight: 300;
	font-style: italic;
	text-align: justify;
	width: 60%;
}

/* Text */
h1 {
	font-family: neue-haas-grotesk-display, "Helvetica-Neue", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 50px;
	letter-spacing: 5px;
}
h4 {
	color: #1a1a1a;
	font-weight: 500;
	font-size: 25px;
	padding: 10px 0 0 0;
	margin: 0;
}
h5 {
	font-size: 20px;
	font-style: italic;
	text-transform: lowercase;
	margin: 5px 0 15px 0;
}
h6 {
	font-size: 18px;
	font-style: italic;
	text-transform: lowercase;
	padding: 5px 0 5px 0;
	margin: 0;
}

/* Header */
#header {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 55%;
}
#header img{
   text-decoration: none !important;
	 max-width: 100%;
}

/* Links */
.project a {
	text-decoration: none;
}
.project a:hover {
	font-style: italic;
}
.glowlink {
	margin: auto;
	text-align: center;
}
.glowlink a {
	color: #595959;
	text-decoration: none;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}
.glowlink a:hover {
	color: #fff;
	text-shadow: 0 0 15px #000;
}

/* Mobile Adaptive */
@media only screen and (max-width: 700px) {
	#header {
		width: 100%;
	}
	.center {
		margin: 48% 0 50px 0;
	}
}
@media only screen and (max-width: 330px) {
	.center {
		margin-top: 75%;
	}
}
@media only screen and (max-width: 1000px) {
	.project {
		width: 100%;
	}
	.description {
		width: 100%;
	}
}
